Issued faced while extracting data from website page are

- Initially I extracted data from Indian kannon search results, where I was considering the top results 
    - considering they are my desired links
- But sometimes there were not articles on the top, and if some were there, they belong to some other articles

- so thus I had to ensure I extract the exact number and in the text: "in Constituiton of data" is written.

Data Collection
- Scraped 100 articles of the Constituiton from Indian Kanoon website with details of the articles
(These articles has the rights, some cases and stuff)

- Scraping some cases related to certain topics
( The topics are rights [right to freedom] types, article based and some extra search query based)

Data Collection Completed
- 2 csv files
1st: Data related to articles of the constitution
2nd: Data related to cases related to queries given by user.
